.form {
  min-height: 40vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #3C6E71;

  * {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
  }

  div:first-child {
    min-width: 30vw;
    display: flex;
    justify-content: space-evenly;

    input {
      width: 70px;
      height: 50px;

      padding: 20px;
      border-radius: 10px;
      border: none;
      outline: none;

      text-align: center;
      background-color: rgba(255, 255, 255, 0.4);

      &:hover, &:focus {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  button {
    width: 70px;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    background-color: #FFC300;
    border: none;
    cursor: pointer;

    &:hover, &:focus {
      background-color: #ffd965;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .form div:first-child {
    min-width: 50vw;
  }
}

@media only screen and (max-width: 640px) {
  .form div:first-child {
    min-width: 80vw;
  }
}

@media only screen and (max-width: 440px) {
  .form div:first-child {
    min-width: 100vw;
  }
}