.home {
  * {
    color: #353535;
  }

  .text {
    min-height: 15vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1, p {
      margin-bottom: 10px;
      font-weight: 100;
      text-align: center;
    }
  }

  div:nth-child(2):not(.services div) {
    min-height: 40vh;
    position: relative;
    background-color: #3C6E71;
  }
}

.services {
  width: 70vw;
  min-height: 40vh;

  display: flex;
  position: absolute;
  left: calc((100vw - 70vw) / 2);
  top: calc(40vh - 25vh);

  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;

  div {
    min-width: 25%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    padding: 10px 0;

    h3 {
      font-weight: 200;
    }

    p {
      width: 100%;
      min-height: 60%;
      padding: 15px 30px;
      text-align: center;

      &:not(.last p)  {
        border-right: 1px solid #353535;
      }
    }

    a {
      color: #FF9F1C;
    }
  }
}

@media only screen and (max-width: 1250px) {
  .services {
    width: 80vw;
    left: calc((100vw - 80vw) / 2);
  }
}

@media only screen and (max-width: 1150px) {
  .services {
    width: 90vw;
    left: calc((100vw - 90vw) / 2);
  }
}

@media only screen and (max-width: 1000px) {
  .services {
    width: 100%;
    left: 0;
  }
}

@media only screen and (max-width: 900px) {
  .home {
    .text {
      background-color: white;
    }

    div:nth-child(2):not(.services div) {
      position: static;
    }
  }

  .services {
    position: static;

    flex-direction: column;
    box-shadow: none;

    background-color: rgba(60, 110, 113, 0.1);

    div {
      width: 100%;

      p {
        border-right: none !important;
        color: #D9D9D9;
      }

      h3 {
        color: white;
      }
    }
  }
}

.last { }